.exp-section{
    padding: 3rem;
    margin: 2rem 0 2rem 0;

    .exp-header{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 2rem;
        text-align: center;
        line-height: 1.5rem;
        h2{
            margin-bottom: 1rem;
        }
        p{
            width: 60%;
        }
    }


    .exp-container {
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        .exp-box {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 37%;
            height: 25rem;

            @media screen and (min-width:960px) and (max-width: 1050px) {
                height: 28rem;
            }

            background-color: #ffffff;
            border-radius: 6px;
            box-shadow: 0 5px 5px 0 rgba(233, 240, 243, 0.5), 0 0 0 1px #E6ECF8;
            color: #141c3a;
            padding: 3rem;
            padding-top:1rem ;
            

            .exp-title{
                margin-bottom: 1.5rem;
            }

            .exp-content{
                margin-bottom: 1.5rem;
                line-height: 1.5rem;
            }

            .exp-tech-list{
                list-style: none;
                display: flex;
                flex-wrap: wrap;

                .exp-tech-item{
                    padding: 0.25rem 0.75rem 0.25rem 0.75rem;
                    background-color: var(--primary-color);
                    color: white ;
                    border-radius: 999px;
                    margin: 0.5rem;
                }
            }
        }
        .logo-container{
            display: flex;
            justify-content: center;
            align-items: center;

            .exp-logo{
                img {
                    width: 7rem;
                    height: 7rem;
                } 
            }

            .zomentum {
                width: 9rem;
            }
            
        }
    }
}



@media screen and (max-width: 960px){
    .exp-section {
        padding: 1rem;

        .exp-header{
            p{
                text-align: center;
                width: auto;
            }
        }
        .exp-container{
            flex-direction: column;

            .exp-box {
                width: 75%;
                height: auto;
                margin-bottom: 2rem;
                
            }
            
        }
    }
}